<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="permissions" routerLinkActive="active">User Permissions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="environments" routerLinkActive="active">Release Environments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="repositories" routerLinkActive="active">VCS Repositories</a>
    </li>
</ul>
</nav>

<div class="content-container">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>