<div style="margin: 5px; margin: auto" class="limit-height-env">

    <clr-datagrid [(clrDgSingleSelected)]="selectedEnv" [clrDgRowSelection]="true" #envDataGrid class="datagrid-compact" [clrDgLoading]="loadingEnv">
      <clr-dg-column [style.width.px]="100" class="id-column">Group</clr-dg-column>
      <clr-dg-column [style.width.px]="100" class="id-column">ID</clr-dg-column>
      <clr-dg-column [style.width.px]="300">Description</clr-dg-column>
      <clr-dg-column [style.width.px]="300">Base Location</clr-dg-column>
      <clr-dg-column [style.width.px]="750">Nexus Upload URL</clr-dg-column>
      <clr-dg-column [style.width.px]="750">Nexus Browse URL</clr-dg-column>
  
      <clr-dg-row *clrDgItems="let env of environmentData" [clrDgItem]="env">
          <clr-dg-cell>{{env.environmentGroup}}</clr-dg-cell>
          <clr-dg-cell>{{env.environmentId}}</clr-dg-cell>
          <clr-dg-cell>{{env.description}}</clr-dg-cell>
          <clr-dg-cell>{{env.baseLocation}}</clr-dg-cell>
          <clr-dg-cell>{{env.nexusUploadUrl}}</clr-dg-cell>
          <clr-dg-cell>{{env.nexusBrowseUrl}}</clr-dg-cell>
      </clr-dg-row>
  
      <clr-dg-footer>{{environmentData.length}} environment entries</clr-dg-footer>
    </clr-datagrid>

    <div class="clr-row">
      <div style="margin: auto">
        <button class="btn btn-sm btn-info-outline" (click)="editEnvModal.open(selectedEnv)" *ngIf="selectedEnv">Modify Selected</button>
      </div>
    </div>

  <app-environment-edit #editEnv></app-environment-edit>

</div>