<div style="margin: 5px; margin: auto" class="limit-height-repo">

  <!--  class="datagrid-compact" -->
  <clr-datagrid [(clrDgSingleSelected)]="selectedRepo" [clrDgRowSelection]="true" #datagridRef class="datagrid-compact" [clrDgLoading]="loadingRepo">
    <clr-dg-column [style.width.px]="50" class="id-column">ID</clr-dg-column>
    <clr-dg-column [style.width.px]="150">Type</clr-dg-column>
    <clr-dg-column [style.width.px]="450">URL</clr-dg-column>
    <!-- [clrDgField]="'description'" -->
    <clr-dg-column [style.width.px]="300">Description</clr-dg-column>
    <clr-dg-column [style.width.px]="150">Other Alias</clr-dg-column>
    <clr-dg-column [style.width.px]="150">FS Checkout Location</clr-dg-column>
    <clr-dg-column [style.width.px]="150">Tag Base</clr-dg-column>
    <clr-dg-column [style.width.px]="250">Group Email Address</clr-dg-column>
    <clr-dg-column [style.width.px]="150">Environment Group</clr-dg-column>
    <clr-dg-column [style.width.px]="100">Disabled?</clr-dg-column>

    <clr-dg-row *clrDgItems="let repo of data" [clrDgItem]="repo">
        <clr-dg-cell>{{repo.id}}</clr-dg-cell>
        <clr-dg-cell>{{repo.type.name}}</clr-dg-cell>
        <clr-dg-cell>{{repo.url}}</clr-dg-cell>
        <clr-dg-cell>{{repo.description}}</clr-dg-cell>
        <clr-dg-cell>{{repo.extAlias}}</clr-dg-cell>
        <clr-dg-cell>{{repo.fsLocation}}</clr-dg-cell>
        <clr-dg-cell>{{repo.tagBase}}</clr-dg-cell>
        <clr-dg-cell>{{repo.groupEmailAddress}}</clr-dg-cell>
        <clr-dg-cell>{{repo.environmentGroup}}</clr-dg-cell>
        <clr-dg-cell><input type="checkbox" clrCheckbox [(ngModel)]="repo.disabled" disabled/></clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{data.length}} repositories</clr-dg-footer>
  </clr-datagrid>

  <div class="clr-row">
    <div style="margin: auto">
      <button class="btn btn-sm btn-info-outline" (click)="editRepoModal.open(newRepo)">Add New</button>
      <button class="btn btn-sm btn-info-outline" (click)="editRepoModal.open(selectedRepo)" *ngIf="selectedRepo">Modify Selected</button>
      <!--<button class="btn btn-sm btn-warning-outline" *ngIf="selectedRepo">Disable Selected</button>-->
    </div>
  </div>

  <app-repositoryedit #editRepo></app-repositoryedit>

</div>